<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFhn985TSdmqGS8CLeFQX7N-LylRDJUuc">
    </script>
   <script type="text/javascript" src="{{ url_for('static', filename='gmaps.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
  <body>
    <h1>It's like...</h1>
    <h2>{{ name }}</h2>
    <div id="map"></div>
  </body>
</html>
